.header {
    @extend %flex;
    @extend %align-middle;
    @extend %align-between;
    @extend %primary-transition;
    @include horizontal-decor("../img/decor/horizontal-gray.svg");
    position: fixed;
    right: rem(56);
    width: calc(100% - #{rem(224)});
    z-index: 102;
    height: rem(104);

    &::after {
        bottom: 0;
    }

    &::before {
        position: absolute;
        content: "";
        height: rem(32);
        width: 100%;
        background: linear-gradient(180deg, #f8f8f8 9.38%, rgba(248, 248, 248, 0) 71.87%);
        bottom: rem(-32);
        left: 0;
    }
    &__title {
        @extend %flex;

        .h1-font {
            &:last-child:not(:only-child) {
                margin-left: rem(14);
                padding-left: rem(14);
                border-left: rem(4) solid map-get($color-scheme, "gray-200");
            }
        }

        #title-text {
            display: flex;
            gap: 8px;
        }
    }
    &__right {
        @extend %flex;
        @extend %align-middle;
        .combo-box {
            &:not(:last-child) {
                margin-right: rem(12);
            }
        }
    }
    &__content {
        @extend %flex;
        @extend %align-middle;
        @extend %align-between;
        width: 100%;
        position: relative;
        &::before {
            @include center-absolute("both");
            content: "";
            height: rem(104);
            width: calc(100% + #{rem(112)});
            background-color: map-get($color-scheme, "gray-50");
            z-index: -1;
        }
    }
    &.active {
        width: calc(100% - #{rem(408)});
    }
    &.no-transition {
        transition: none !important;
        -webkit-transition: none !important;
        -moz-transition: none !important;
    }
}
