.form {
    &__item {
        margin-bottom: rem(32);
        position: relative;
        input {
            height: rem(48);
            border: 1px solid #ccc;
            border-radius: rem(8);
            padding: rem(12) rem(16);
        }
        label {
            top: rem(-10);
            position: absolute;
        }
        label,
        p {
            @extend %flex;
            @extend %align-middle;
            @include font(
                bold,
                11,
                1.5,
                map-get($color-scheme, "gray-700"),
                uppercase,
                $fontPrimary
            );
            letter-spacing: 0.02em;

            height: rem(20);
            padding: 0 rem(4);
            left: rem(12);
            background-color: map-get($color-scheme, "white");
        }

        .combo-box {
            width: 100%;
        }
    }
}

.form__item.checkbox {
    display: flex;
    align-items: center;
}

.atm-map {
    margin-bottom: 24px;
}
