.list {
    @extend %flex;
    flex-direction: column;
    .custom-check {
        &__checkmark {
            margin-right: 0;
        }
        &__label {
            width: 100%;
        }
        label {
            flex-direction: row-reverse;
            width: 100%;
        }
        &:not(:last-child) {
            padding-bottom: rem(12);
            margin-bottom: rem(12);
            position: relative;
            @include horizontal-decor("../img/decor/horizontal-gray.svg");
            &::after {
                bottom: 0;
            }
        }
    }
    &_scroll {
        max-height: calc(100vh - #{rem(196)});
        overflow: auto;
    }
}

.list-search {
    @extend %flex;
    @extend %align-middle;
    background-color: map-get($color-scheme, "gray");
    border-radius: rem(8);
    height: rem(44);
    width: 100%;
    margin-bottom: rem(16);
    padding: 0 rem(12);
    position: relative;
    &::after {
        @include center-absolute("vertical");
        @include font-icon("\e901");
        right: rem(12);
        color: map-get($color-scheme, "text-black");
        font-size: rem(20);
    }
    input {
        width: 100%;
        height: 100%;
        @include font(normal, 16, 1.25, map-get($color-scheme, "text-black"), 0, $fontPrimary);
        &::placeholder {
            opacity: 0.5;
        }
    }
    &_white {
        background-color: map-get($color-scheme, "white");
    }
}

.atm-item {
    @extend %flex;
    @extend %primary-transition;
    @extend %user-cursor;
    border-radius: rem(12);
    padding: rem(16);
    background-color: map-get($color-scheme, "white");
    margin-bottom: rem(16);
    &__icon {
        margin-right: rem(16);
        @extend %flex;
        @extend %align-middle;
        @extend %align-center;
        height: rem(72);
        width: rem(72);
        border-radius: rem(10);
        background-color: map-get($color-scheme, "gray");
        img {
            width: rem(48);
            height: rem(48);
        }
    }
    &__status {
        @extend %flex;
        @extend %align-middle;
        @extend %align-center;
        border-radius: rem(1000);
        height: rem(40);
        margin-left: auto;
        padding: 0 rem(12) 0 rem(28);
        position: relative;
        &::before {
            content: "";
            @include center-absolute("vertical");
            height: rem(8);
            width: rem(8);
            border-radius: 100%;
            left: rem(13);
        }
        &_working {
            color: map-get($color-scheme, "green");
            background-color: map-get($color-scheme, "green-50");
            &::before {
                background-color: map-get($color-scheme, "green");
            }
        }
        &_not-working {
            color: map-get($color-scheme, "red");
            background-color: map-get($color-scheme, "red-50");
            &::before {
                background-color: map-get($color-scheme, "red");
            }
        }
        span {
            @include font(500, 12, 1.8, inherit, 0, $fontPrimary);
        }
    }
    &__location {
        @extend %flex;
        @extend %align-middle;
        > div {
            &:first-child {
                padding-right: rem(8);
                margin-right: rem(8);
                position: relative;
                &::before {
                    @include center-absolute("vertical");
                    content: "";
                    height: rem(14);
                    width: rem(2);
                    background-color: map-get($color-scheme, "gray-100");
                    right: 0;
                }
            }
        }
    }
    &__label {
        @include font(400, 16, 1.4, map-get($color-scheme, "gray-700"), 0, $fontPrimary);
    }
    &__value {
        @include font(400, 16, 1.4, inherit, 0, $fontPrimary);
    }
    &__info {
        > div {
            &:not(:last-child) {
                margin-bottom: rem(3);
            }
        }
    }
    &__link {
        @extend %flex;
        width: 100%;
    }
    &:hover {
        background-color: map-get($color-scheme, "gray-100");
    }
}
