.radio-buttons {
    @extend %flex;
    margin-bottom: rem(20);
}

.radio-button {
    &:not(:last-child) {
        margin-right: rem(8);
    }
}

.radio-container {
    position: relative;
    @extend %user-cursor;
    @include font(bold, 14, 1.1, rgba(map-get($color-scheme, "blue-900"), 0.3), 0, $fontPrimary);
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ span {
            color: map-get($color-scheme, "blue");
            background-color: map-get($color-scheme, "blue-50");
        }
    }
    span {
        @extend %flex;
        @extend %align-middle;
        @extend %align-center;
        background-color: map-get($color-scheme, "gray");
        border-radius: rem(6);
        padding: 0 rem(12);
        height: rem(32);
    }
}
