.segment-block {
    &__container {
        &_decor {
            @include horizontal-decor("../img/decor/horizontal-gray.svg");
            &:after {
                top: 0;
            }
            margin-top: rem(20);
            padding-top: rem(20);
        }
    }
}
 